<?xml version="1.0" encoding="utf-8"?>
<catalog>
  <apps>
    <app>
      <revision_history>DSA properties inheritence stopped, as design is opened in current project context for DSA generation, option updated from -generate_dsa to -open_design_for_dsa_gen.</revision_history>
      <name>x2rp</name>
      <pkg_require>Vivado 2017.1</pkg_require>
      <author>Xilinx, Inc</author>
      <company>xilinx</company>
      <company_display>Xilinx, Inc</company_display>
      <summary>This app helps in creating and managing designs with 2 RPs.</summary>
      <display>Xilinx 2RP App</display>
      <procs>
        <proc>
          <name>open_checkpoint_for_dsa_generation</name>
          <summary>Opens routed design checkpoint in the current project context for DSA generation.</summary>
        </proc>
        <proc>
          <name>run</name>
          <summary>Implements the 2RP Design.</summary>
        </proc>
      </procs>
    </app>
  </apps>
</catalog>
