<?xml version="1.0" encoding="utf-8"?>
<catalog>
  <apps>
    <app>
      <revision>2.4</revision>
      <revision_history>Various Updates</revision_history>
      <commit_id>b6d319c5a27feb01b4d90f160c48ac16d47b022d</commit_id>
      <name>myapp</name>
      <company>mycompany</company>
      <company_display>My Company, Inc.</company_display>
      <display>My First App</display>
      <procs>
        <proc>
          <name>myproc1</name>
          <summary>A one line summary of what this proc does</summary>
        </proc>
        <proc>
          <name>myproc2</name>
          <summary>A one line summary of what this proc does</summary>
        </proc>
        <proc>
          <name>myproc3</name>
          <summary>3_10_2014</summary>
        </proc>
      </procs>
    </app>
  </apps>
</catalog>
