<?xml version="1.0" encoding="utf-8"?>
<catalog>
  <apps>
    <app>
      <revision>1.0</revision>
      <revision_history>Creating incrcompile app.</revision_history>
      <commit_id>3275a6f7a1df606a78d33272b29f7c3f1057526b</commit_id>
      <name>incrcompile</name>
      <pkg_require>Vivado 2014.3</pkg_require>
      <company>xilinx</company>
      <company_display>Xilinx, Inc.</company_display>
      <summary>This is a collection of utility application for Incremental flow</summary>
      <procs>
        <proc>
          <name>analyze_critical_path</name>
          <summary>highlight reused pins of given timing paths given by 'get_timing_paths' command</summary>
        </proc>
        <proc>
          <name>get_non_reused</name>
          <summary>get non reused objects</summary>
        </proc>
        <proc>
          <name>get_reused</name>
          <summary>get reused objects</summary>
        </proc>
        <proc>
          <name>highlight_non_reused</name>
          <summary>highlight non reused object</summary>
        </proc>
        <proc>
          <name>highlight_reused</name>
          <summary>highlight reused object</summary>
        </proc>
      </procs>
    </app>
  </apps>
</catalog>
