<?xml version="1.0" encoding="utf-8"?>
<catalog>
  <apps>
    <app>
      <revision>1.0</revision>
      <revision_history>Iter 2. Need to put in the commit id</revision_history>
      <commit_id>13352316673364cb2b0e7e318a5a8b80a13bb072</commit_id>
      <name>myapp6</name>
      <company>mycompany</company>
      <company_display>MY COMPANY</company_display>
      <display>MY APP6</display>
      <procs>
        <proc>
          <name>myproc1</name>
          <summary>A one line summary of what this proc does</summary>
        </proc>
        <proc>
          <name>myproc2</name>
          <summary>A one line summary of what this proc does</summary>
        </proc>
        <proc>
          <name>myproc3</name>
          <summary>3_10_2014</summary>
        </proc>
      </procs>
    </app>
  </apps>
</catalog>
