<?xml version="1.0" encoding="utf-8"?>
<catalog>
  <apps>
    <app>
      <revision>1.2.1</revision>
      <revision_history>Modify the summary in branch 8_19_2014.3</revision_history>
      <commit_id>7a21576dd7b60d94fa60531df9677465703b1009</commit_id>
      <name>myapp6</name>
      <company>mycompany</company>
      <company_display>MY COMPANY</company_display>
      <display>MY APP6</display>
      <procs>
        <proc>
          <name>myproc1</name>
          <summary>A one line summary of what this proc does</summary>
        </proc>
        <proc>
          <name>myproc2</name>
          <summary>A one line summary of what this proc does</summary>
        </proc>
        <proc>
          <name>myproc3</name>
          <summary>3_10_2014</summary>
        </proc>
      </procs>
    </app>
  </apps>
</catalog>
