<?xml version="1.0" encoding="utf-8"?>
<catalog>
  <apps>
    <app>
      <revision_history>Fix for MRL-45 to add shim support and directive list flattening issue.</revision_history>
      <name>x2rp</name>
      <pkg_require>Vivado 2017.1</pkg_require>
      <author>Xilinx, Inc</author>
      <company>xilinx</company>
      <company_display>Xilinx, Inc</company_display>
      <summary>This app helps in creating and managing designs with 2 RPs.</summary>
      <display>Xilinx 2RP App</display>
      <procs>
        <proc>
          <name>run</name>
          <summary>Implements the 2RP Design.</summary>
        </proc>
      </procs>
    </app>
  </apps>
</catalog>
