<?xml version="1.0" encoding="utf-8"?>
<catalog>
  <apps>
    <app>
      <revision_history>1.0 Inital release</revision_history>
      <name>osdzu3</name>
      <company>octavo</company>
      <company_display>Octavo Systems LLC</company_display>
      <summary>This is a collection of scripts and utility application that are grouped by product.</summary>
      <display>Octavo Systems</display>
      <procs>
        <proc>
          <name>set_osdzu3_package_pin</name>
          <summary>Command to set package pin. Use this command in your tcl constraint file.</summary>
        </proc>
        <proc>
          <name>set_osdzu3_input_delay</name>
          <summary>Command to set min/max input delay. Use this command in your tcl constraint file.</summary>
        </proc>
        <proc>
          <name>set_osdzu3_output_delay</name>
          <summary>Command to set min/max output delay. Use this command in your tcl constraint file.</summary>
        </proc>
        <proc>
          <name>osdzu3_export_xdc</name>
          <summary>This proc exports two or three constraint files from the loaded implemented design using the write_xdc command. The "set_property PACKAGE_PIN" constraint will be subsituted with "set_osdzu3_package_pin", the Xilinx package pin subsituted with the OSDZU3 SiP package pin and saved in the file "osdzu3_package_pins.tcl". The "set_input_delay" and "set_output_delay" constraint will be subsituted with "set_osdzu3_input_delay" and "set_osdzu3_output_delay", saved in the file "osdzu3_io_delay.tcl". The input/output delays will be adjusted to add the SiP pin flight times so that they are properly accounted for during Static Timing Analysis. All other constraints will be exported to the file "osdzu3_timing.xdc".</summary>
        </proc>
      </procs>
    </app>
  </apps>
</catalog>
