<?xml version="1.0" encoding="utf-8"?>
<catalog>
  <apps>
    <app>
      <revision_history>Initial Version</revision_history>
      <name>activehdl</name>
      <pkg_require>Vivado 2014.1</pkg_require>
      <author>Aldec</author>
      <company>aldec</company>
      <company_display>Aldec, Inc.</company_display>
      <summary>Aldec simulator</summary>
      <display>Active-HDL Simulator</display>
      <visible>project.enableUnifiedSimulation</visible>
    </app>
  </apps>
</catalog>
