<?xml version="1.0" encoding="utf-8"?>
<catalog>
  <apps>
    <app>
      <revision_history>19/11/2014 - Beat 0.1</revision_history>
      <name>protoip</name>
      <pkg_require>Vivado 2014.3</pkg_require>
      <author>Andrea Suardi a.suardi@imperial.ac.uk</author>
      <company>icl</company>
      <company_display>Imperial College London</company_display>
      <summary>Protoip is a utility for quickly prototyping C-based IP in FPGA hardware</summary>
      <display>IP prototyping in FPGA hardware</display>
      <procs>
        <proc>
          <name>ip_design_build</name>
          <summary/>
        </proc>
        <proc>
          <name>ip_design_build_debug</name>
          <summary/>
        </proc>
        <proc>
          <name>ip_design_delete</name>
          <summary/>
        </proc>
        <proc>
          <name>ip_design_duplicate</name>
          <summary/>
        </proc>
        <proc>
          <name>ip_design_test</name>
          <summary/>
        </proc>
        <proc>
          <name>ip_design_test_debug</name>
          <summary/>
        </proc>
        <proc>
          <name>ip_prototype_build</name>
          <summary/>
        </proc>
        <proc>
          <name>ip_prototype_build_debug</name>
          <summary/>
        </proc>
        <proc>
          <name>ip_prototype_load</name>
          <summary/>
        </proc>
        <proc>
          <name>ip_prototype_load_debug</name>
          <summary/>
        </proc>
        <proc>
          <name>ip_prototype_test</name>
          <summary/>
        </proc>
        <proc>
          <name>make_template</name>
          <summary/>
        </proc>
      </procs>
    </app>
  </apps>
</catalog>
