<?xml version="1.0" encoding="utf-8"?>
<catalog>
  <apps>
    <app>
      <revision_history>Create revision history</revision_history>
      <name>myapp6</name>
      <company>mycompany</company>
      <company_display>MY COMPANY</company_display>
      <display>MY APP6</display>
      <procs>
        <proc>
          <name>myproc1</name>
          <summary>A one line summary of what this proc does</summary>
        </proc>
        <proc>
          <name>myproc2</name>
          <summary>A one line summary of what this proc does</summary>
        </proc>
        <proc>
          <name>myproc3</name>
          <summary>Testing revision @ 9_15_2014</summary>
        </proc>
      </procs>
    </app>
  </apps>
</catalog>
