<?xml version="1.0" encoding="utf-8"?>
<catalog>
  <apps>
    <app>
      <revision_history>do not fetch verilog headers from block filesets</revision_history>
      <name>projutils</name>
      <pkg_require>Vivado 2014.1</pkg_require>
      <company>xilinx</company>
      <company_display>Xilinx, Inc.</company_display>
      <summary>This is a collection of scripts and utility application that are grouped by relevance to manipulation of projects.</summary>
      <display>Project Utilities</display>
      <procs>
        <proc>
          <name>convert_ngc</name>
          <summary>Convert all provided NGC files to a supported format</summary>
        </proc>
        <proc>
          <name>export_bd_synth</name>
          <summary>Create and write a single design checkpoint and stub files for a Block Design (BD), for use with third party synthesis tools. Perform synthesis as necesssary.</summary>
        </proc>
        <proc>
          <name>export_simulation</name>
          <summary>Export a script and associated data files (if any) for driving standalone simulation using the specified simulator.</summary>
        </proc>
        <proc>
          <name>write_project_tcl</name>
          <summary>Export Tcl script for re-creating the current project</summary>
        </proc>
      </procs>
    </app>
  </apps>
</catalog>

