<?xml version="1.0" encoding="utf-8"?>
<catalog>
  <apps>
    <app>
      <revision>1.0</revision>
      <revision_history>Various Updates</revision_history>
      <commit_id>ac1b5493feaba25ce75a956320e6bd1fc158bf86</commit_id>
      <name>myapp5</name>
      <company>mycomapny</company>
      <company_display>me, Inc.</company_display>
      <summary>This is myapp5.</summary>
      <display>My App #5</display>
      <procs>
        <proc>
          <name>myapp5proc1</name>
          <summary>Activates (makes active) the project and design of the number specified, options are 1 or 2.  The project and design are set via set_compare_objects (or open_checkpoints).</summary>
        </proc>
      </procs>
    </app>
  </apps>
</catalog>
