<?xml version="1.0" encoding="utf-8"?>
<catalog>
  <apps>
    <app>
      <revision_history>Added Tcl Profiler app</revision_history>
      <name>profiler</name>
      <company>xilinx</company>
      <company_display>Xilinx, Inc.</company_display>
      <summary>The Profiler App creates a .out file for a set of specified Tcl procs and Tcl commands which contains profiling data that can be consumed by kcachegrind.</summary>
      <display>Tcl Profiler</display>
      <procs>
        <proc>
          <name>add_commands</name>
          <summary>Add commands to profile</summary>
        </proc>
        <proc>
          <name>get_out_file</name>
          <summary>Get output file that will be consumed by kcachegrind (.out)</summary>
        </proc>
        <proc>
          <name>set_out_file</name>
          <summary>Sets output file that will be consumed by kcachegrind (.out)</summary>
        </proc>
        <proc>
          <name>start</name>
          <summary>Start profiling</summary>
        </proc>
        <proc>
          <name>stop</name>
          <summary>Stop profiling</summary>
        </proc>
        <proc>
          <name>write_report</name>
          <summary>Write the profiling report</summary>
        </proc>
      </procs>
    </app>
  </apps>
</catalog>
