<?xml version="1.0" encoding="utf-8"?>
<catalog>
  <remote>master</remote>
  <support_commit_id>8157418c8958e8848117a4151f3c8b28a9933699</support_commit_id>
  <release>2014.3</release>
  <revision>1.0</revision>
  <apps>
    <app>
      <revision>2.0</revision>
      <commit_id>c11ebe26af6c9b39d41ba4132fa2293f8aa8aa0d</commit_id>
      <name>projutils</name>
      <pkg_require>Vivado 2014.1</pkg_require>
      <company>xilinx</company>
      <company_display>Xilinx, Inc.</company_display>
      <summary>This is a collection of scripts and utility application that are grouped by relevance to manipulation of projects.</summary>
      <display>Project Utilities</display>
      <procs>
        <proc>
          <name>export_simulation</name>
          <summary>Generate design filelist for the specified simulator for standalone simulation</summary>
        </proc>
        <proc>
          <name>write_project_tcl</name>
          <summary>Export Tcl script for re-creating the current project</summary>
        </proc>
      </procs>
    </app>
  </apps>
</catalog>
