<?xml version="1.0" encoding="utf-8"?>
<catalog>
  <apps>
    <app>
      <revision_history>Initial version</revision_history>
      <name>alint</name>
      <company>aldec</company>
      <company_display>Aldec, Inc.</company_display>
      <summary>This is an Aldec app to convert a Vivado project to an Alint-PRO project</summary>
      <display>Alint-PRO Linter</display>
      <procs>
        <proc>
          <name>convert_project</name>
          <summary>Convert Vivado project to Alint</summary>
        </proc>
      </procs>
    </app>
  </apps>
</catalog>
