<?xml version="1.0" encoding="utf-8"?>
<catalog>
  <apps>
    <app>
      <revision_history>Fixing issues with arguments of procs</revision_history>
      <name>incrcompile</name>
      <pkg_require>Vivado 2014.1</pkg_require>
      <company>xilinx</company>
      <company_display>Xilinx, Inc.</company_display>
      <summary>This is a collection of utility application for Incremental flow</summary>
      <display>Incremental Compile</display>
      <procs>
        <proc>
          <name>analyze_critical_path</name>
          <summary>highlight reused pins of given timing paths given by &apos;get_timing_paths&apos; command 
Example: analyze_critical_path [get_timing_paths -max_paths 5] result1</summary>
        </proc>
        <proc>
          <name>get_non_reused</name>
          <summary>get non reused objects</summary>
        </proc>
        <proc>
          <name>get_reused</name>
          <summary>get reused objects</summary>
        </proc>
        <proc>
          <name>highlight_non_reused</name>
          <summary>highlight non reused objects</summary>
        </proc>
        <proc>
          <name>highlight_reused</name>
          <summary>highlight reused objects</summary>
        </proc>
      </procs>
    </app>
  </apps>
</catalog>
