<?xml version="1.0" encoding="utf-8"?>
<catalog>
  <apps>
    <app>
      <revision_history>Added support for KU+, VU+, RFSOC, HBM, 58G (report_io_reg)</revision_history>
      <name>ultrafast</name>
      <pkg_require>Vivado 2014.1</pkg_require>
      <company>xilinx</company>
      <company_display>Xilinx, Inc.</company_display>
      <summary>This app is a collection of scripts that are used by the UltraFast Design Methodology. Refer to the user guide UG949 &apos;UltraFast Design Methodology Guide for the Vivado Design Suite&apos; for further information.</summary>
      <display>UltraFast Design Methodology</display>
      <procs>
        <proc>
          <name>check_bd_axi_interface</name>
          <summary>Report AXI Interconnect Internal Blocks for Every AXI Master and AXI Slave in an AXI Interconnect instance</summary>
        </proc>
        <proc>
          <name>check_pll_connectivity</name>
          <summary>Report MMCM/PLL information</summary>
        </proc>
        <proc>
          <name>report_io_reg</name>
          <summary>Report I/O ports information</summary>
        </proc>
        <proc>
          <name>report_reset_signals</name>
          <summary>Generate Report for Control Signals (Reset/Set/Clear/Preset)</summary>
        </proc>
      </procs>
    </app>
  </apps>
</catalog>
